$color-primary1: #FFB629;

$color-border-form-field: #4E5683;

$color-text-light: #FFFFFF;
$color-text-dark: #23212A;
$color-logo:  #FFB82B;
$color-copyright-links: #8388A7;

$color-gradient: linear-gradient( to right, $color-primary1, #FFDA56, #FFD7A6);