html {
  font-size: 10px;
  @extend %font-Rubik;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  font-size: 1.6rem;
  max-width: 1920px;
  margin:auto;
}

header, main, footer, ul {
  margin: 0px; 
  padding: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  @extend %font-Krub;
  font-weight: 500;
  line-height: 152%;
}

h1 {
  @include font(700, 6rem);
}

h2 {
  @include font(600, 3.5rem);
}

h3 {
  @include font(400, 2.5rem);
}

h4 {
  @include font(400, 2rem);
}

h5 {
  @include font(500, 2rem);
}

h6 {
  @include font(400, 1.4rem);
  border-left: 4px solid $color-primary1;
  border-image-source: $color-gradient;
  border-image-slice: 1;
  width:fit-content;
  padding: 3px 9px;
}

button {
  @extend %font-Krub;
  @include font(600, 1.6rem);
  line-height: 135%;
  width: 194px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

ul {
  @extend %font-Krub;
  font-weight: 500;
}

a {
  color: $color-text-light;
  text-decoration: none;
}

a:visited {
  color:inherit;
}

@media (max-width: 460px) {
  h1 {
    font-size: 4.1rem;
  }
}